# Data Science Tools and Ecosystem

## Author
George Patsias

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  

- Python
- R
- SQL
- Java
- Scala
- JavaScript

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. scikit-learn
3. PyTorch
4. Keras
5. NumPy
6. Pandas


|Data Science Tools|
|----|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|
|Scikit-learn|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
def minutes_to_hours(minutes):
    hours = minutes/60
    print(minutes, " minutes is equals to ", round(hours,2), " hours")

minutes_to_hours(200)

200  minutes is equals to  3.33  hours